//Colours
$primaryColour: rgb(184, 184, 245);
$secondaryColour: rgb(228, 197, 226);
$tertiaryColour: rgb(236, 219, 163);

$highlightColour: rgb(48, 126, 216);
$lightColour: rgb(255, 243, 14);

$headingColour: rgb(8, 8, 56);
$textColour: rgb(8, 4, 26);
